{% extends "layout.html" %}
{% block content %}
<main class="page project-page">
    <section class="portfolio-block project">
        <div class="container">
            <div class="heading">
                <h2>Group -&nbsp 21;</h2>
            </div>
            <a href="live-demo">

                <div class="live">
                    <button type="button" class="btn btn-primary">Live Demo</button>
                </div>
         
            </a>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description</h3>
                    <p><strong>Creating an automatic answer checker web application for students and teachers, for
                            grading of the
                            answers submitted by students against an ideal solution uploaded by the teacher.</strong>
                    </p>

                    <ul>
                        <li>
                            <p>Students upload their hand-written answer sheets which will be converted to text.</p>
                        </li>
                        <li>
                            <p>The solution provided by the students will be automatically marked against the
                                ideal/correct
                                answer given by the evaluator/professor, using AI to check similarity of the two answers
                            </p>
                        </li>
                    </ul>

            </div>
            <div class="col-12 col-md-3 offset-md-1 meta">
                <div class="tags">
                    <span class="meta-heading">Mentor</span>
                    <h3 style="padding: 0px 0px ; margin: 0px 0px;">Prof. Anil Kumar Singh</h3>
                    <span>President of Student Activity Center, Chairman , Institute Health Center, Associate Dean, Research and Consultancy</span>
                    <span class="meta-heading">Members</span>
                    <span>20204127 - Nilesh Malav</span>
                    <span>20204128 - Niraj Gupta</span>
                    <span>20204129 - Nishchay Chaurasia</span>
                    <span>20204130 - Nitesh Rana</span>

                    <span class="meta-heading">Date</span><span>1 December, 2023</span></div>
            </div>
        </div>
        </div>
    </section>
</main>
{% endblock %}
