{% extends "layout.html" %}
{% block content %}
<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <div style="align-item:center;justify-content:center;" class="container">

            <div class="heading">
                <h2>TEACHER</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0">
                        <a style="display:flex;align-item:center;justify-content:center;" href="{{result['Teacher Filepath']}}">
                        <img style="max-width:25px ;max-height: 25px;" class="card-img-top scale-on-hover"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png" alt="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png">
                        </a>
                        <div class="card-body">
                            <h6>{{result['Teacher Filename']}}</h6>
                        </div>
                    </div>
                </div>
            </div>




            <div class="heading">
                <h2>STUDENTS</h2>
            </div>
            <div class="row" style="align-item:center;justify-content:center;">
                {% for i in result["Student Grades"] %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0">
                        <a style="display:flex;align-item:center;justify-content:center;" href="{{i['Filepath']}}">
                        <img style="max-width:25px ;max-height: 25px;" class="card-img-top scale-on-hover"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png" alt="Card Image">
                        </a>
                        <div class="card-body">
                            <h6>{{i["Filename"]}}</h6>
                            <p class="text-muted card-text">{{i["Score"]}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}